# If using a local satellite to source collection content it may look something like this
#[galaxy]
#server_list = published, validated

#[galaxy_server.published]
#url = https://satellite.example.com/pulp_ansible/galaxy/Lab/Library/custom/aap-collections/published/api/

#[galaxy_server.validated]
#url = https://satellite.example.com/pulp_ansible/galaxy/Lab/Library/custom/aap-collections/validated/api/
